/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Logo styling */
.logo {
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    align-items: left;
}

main {
    background-color: aqua;
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}
.buttons {
    background-color: #323978;
    padding: 100px;
    padding-right: 200px;
    margin-left: -20px;
    margin-top: -21px;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 20px;
   
}

.buttons button {
    padding: 20px 20px;
    font-size: 30px;
    width: 100%;
    border: none;
    cursor: pointer;
}
.buttons button:nth-child(4) {
    margin-top: 30px;
    border-radius: 12px;
    width: 300px;
    font-size: 100%;
    padding-left: -300px;
    background-color: #dc3545;
}

/* Grafiek styling */
.audiodiagram {
    position: relative;
    margin-left: 0%;
    margin-right: 60px;
    width: 600px;
    height: 300px;
    background-color: #e0e0e0;
}
.labels{
    margin-right: 900px;
    position: relative;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
        
}
.labels img{
    padding-top: 30px;
}